<li class="nav-item"><a class="nav-link" asp-controller="Exams" asp-action="Index"><i class="fas fa-file-alt me-1"></i>Екзамени</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Finance" asp-action="Index"><i class="fas fa-wallet me-1"></i>Фінанси</a></li>