@{
    ViewData["Title"] = "Конфіденційність";
}
<h1>@ViewData["Title"]</h1>

<p>Інформація про конфіденційність системи управління курсами.</p>
<p>Курсова робота виконана студентом 343А-1 групи </p>
<p>Сможевських Костянтином Сергійовичем</p>